Login

<form action= <%= session_url %> method="post">
  <label for="username">username</label>
  <input type="text" id = "password" name="user[email]" value="">

  <label for="password">password</label>
  <input type="text" id = "password" name="user[password]" value="">

  <button type="submit" name="button">Submit</button>
</form>
