Signup

<form action= <%= users_url %> method="post">
  <label for="email">email</label>
  <input id = "email" type="text" name="user[email]" value="">

  <label for="password">password</label>
  <input id = "password" type="text" name="user[password]" value="">

  <button type="submit" name="button">submit</button>
</form>
