<% if logged_in? %>

<form action= <%= session_url %> method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" name="button">Logout</button>

</form>

<% else %>

<form class="" action= <%= new_session_url %> method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" name="button">login</button>

</form>

<% end %>

<%= @user.email %>
<%= current_user %>
